In [1]:
import pandas as pd

# Load your Netflix CSV file
df = pd.read_csv('netflix_titles.csv')

# Preview the data
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [34]:
from IPython.display import display, Markdown

# --- Top 10 International Movies ---
display(Markdown("### ðŸŽ¬ Top 10 International Movies"))
display(top_10_international[['title', 'listed_in']].reset_index(drop=True))

# --- Top 5 Drama Movies ---
display(Markdown("### ðŸŽ­ Top 5 Drama Movies"))
display(top_5_dramas[['title', 'listed_in']].reset_index(drop=True))

# --- Top 5 Comedy Movies ---
display(Markdown("### ðŸ˜‚ Top 5 Comedy Movies"))
display(top_5_comedies[['title', 'listed_in']].reset_index(drop=True))

### ðŸŽ¬ Top 10 International Movies

,title,listed_in
0,Sankofa,"Dramas, Independent Movies, International Movies"
1,Je Suis Karl,"Dramas, International Movies"
2,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Documentaries, International Movies"
3,Avvai Shanmughi,"Comedies, International Movies"
4,Jeans,"Comedies, International Movies, Romantic Movies"
5,Minsara Kanavu,"Comedies, International Movies, Music & Musicals"
6,Ankahi Kahaniya,"Dramas, Independent Movies, International Movies"
7,The Father Who Moves Mountains,"Dramas, International Movies, Thrillers"
8,The Stronghold,"Action & Adventure, Dramas, International Movies"
9,InuYasha the Movie 2: The Castle Beyond the Lo...,"Action & Adventure, Anime Features, Internatio..."

### ðŸŽ­ Top 5 Drama Movies

,title,listed_in
0,Sankofa,"Dramas, Independent Movies, International Movies"
1,The Starling,"Comedies, Dramas"
2,Je Suis Karl,"Dramas, International Movies"
3,Ankahi Kahaniya,"Dramas, Independent Movies, International Movies"
4,The Father Who Moves Mountains,"Dramas, International Movies, Thrillers"

### ðŸ˜‚ Top 5 Comedy Movies

                          title        listed_in
0   Lokillo: Nothing's the Same  Stand-Up Comedy
1  The Original Kings of Comedy  Stand-Up Comedy
2                  The Stand-Up  Stand-Up Comedy
3  Lee Su-geun: The Sense Coach  Stand-Up Comedy
4       Alan SaldaÃ±a: Locked Up  Stand-Up Comedy